{erl_opts, [debug_info, warnings_as_errors]}.
{deps, []}.

{post_hooks, [
    {compile, "sh -c 'cd native && cargo build'"},
    {compile, "sh -c 'mkdir -p priv && cp native/target/debug/libomq_beam_native.so priv/omq_beam_native.so'"}
]}.

{profiles, [
    {test, [
        {erl_opts, [debug_info, nowarn_export_all]}
    ]}
]}.

{eunit_tests, [{dir, "test"}]}.
